.create-importbill {
    display: block;
    width: 100%;
    padding: 10px;
}

.create-importbill .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.item-first {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 5px !important;
}


.create-importbill .row label {
    margin-right: 10px;
    margin-left: 0px;
    width: 200px;
}

.create-importbill .search-material {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-importbill input {
    max-width: 300px;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #999;
    padding: 0px 8px;
}

.date-picker {
    width: 100px !important;
    height: 40px !important;
}

.create-importbill .list-material {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 2px;
    z-index: 10;
    width: 84%;
}

.create-importbill .list-material .header-list-material {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid #999;
}

.list-material .header-list-material p {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-importbill .list-material .item-material {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
    /* margin-top: 5px; */
}

.create-importbill .list-material .item-material:hover {
    background-color: rgb(26, 148, 255);
    color: #fff;
}

.create-importbill .list-material .item-material p {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-importbill .form-bill {
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 10px;
}

.create-importbill .form-bill .header-title {
    display: flex;
    justify-content: center;
}

.list-item-bill {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #999;
}

/* .list-item-bill .header-item-bill {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
} */

.list-item-bill h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: rgb(26, 148, 255);
    color: #fff;
}

.list-item-bill .header-item-bill {
    height: 34px;
}

.list-item-bill h3,
.header-item-bill,
.item-bill {
    align-items: center;
    border-bottom: 1px solid #999;
}

.list-item-bill .header-item-bill,
.item-bill {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    padding: 0 10px;
}

/* .list-item-bill .item-bill {
    height: ;
} */

.item-bill button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(26, 148, 255) !important;
    border-radius: 5px !important;
    background-color: rgb(26, 148, 255) !important;
    color: #fff !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
}

.item-bill .input-quantity {
    display: flex;
    text-align: center;
    width: 46px;
}

.item-bill .delete-item {
    cursor: pointer;
}

.button-option-importbill {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
}

.button-option-importbill button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(26, 148, 255);
    color: #fff;
    margin-right: 0px;
}

button.deactive {
    background-color: rgb(143, 155, 178);
    border: none;
    cursor: not-allowed;
    pointer-events: none;
}

.button-option-importbill a {
    color: #fff;
    width: 100%;
}

.row .select-warehouse {
    height: 40px;
    width: 200px;
    padding-left: 20px;
    border-radius: 8px;
}

/* -------------------------------------- */

.modal_container__notification {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    overflow: scroll;
}

.modal_active {
    visibility: visible;
    opacity: 1;
}

.title_add__notification {
    color: rgb(26, 148, 255);
    font-size: 36px;
}

.modal__notification {
    background-color: #fff;
    max-width: 330px;
    width: 100%;
    height: 180px;
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
}

.modal__notification .option-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
}

.modal__notification .option-button button {
    max-width: 140px;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 8px;
    background-color: rgb(26, 148, 255);
    color: #fff;
    margin: 0px;
    position: relative;
    bottom: -50px;
}
