.importbill_item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #999;
    border-top: none;
    text-align: center;
    height: 95px;
}

.importbill_item h2 {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    color: rgb(8, 137, 243);
}

.importbill_item img {
    display: flex;
    align-items: center;
    max-width: 160px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.importbill_item .importbill_item_element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #999;
    height: 100%;
    font-size: 18px;
    font-weight: 300;
}

.importbill_item .importbill_item_element p {
    max-width: 160px;
    width: 100%;
    word-wrap: break-word;
}

.header_list p:last-child,
.importbill_item .importbill_item_element:last-child {
    border-right: none;
}

.importbill_item:nth-child(2n) {
    background-color: rgba(228, 228, 224, 0.5);
}

.importbill_item .importbill_item_element button {
    font-size: 18px;
    font-weight: 300;
}
