.layout .layout-second .title-statistic-material {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 400;
}

.container-filter {
    display: flex;
    justify-content: space-between;
}

.container-filter .search-material,
.filter-select {
    margin: 0px;
}

.container-filter .search-material input,
.filter-select select {
    width: 200px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 8px;
}

.header-title .title-tab h2 {
    font-size: 25px;
    font-weight: 400;
    /* color: #fff; */
}

.warehouse_header__list {
    display: flex;
    border: 1px solid #999;
    height: 50px;
    align-items: center;
    background-color: rgb(235, 232, 232);
}

.warehouse_header__list p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #999;
    height: 100%;
    font-size: 18px;
}

input:focus,
.filter-select select:focus {
    outline: none;
}

.container-filter .search-material,
.filter-select select option {
    height: 40px;
}

.container-filter .search-material,
.filter-select .select-store {
    margin-right: 10px;
}
