.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    flex-direction: column;
    width: 210px;
    height: 100%;
    background-color: #f3f2f3;
    border-right: 1px solid rgb(138, 138, 138);
}

.navbar .item-navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(138, 138, 138);
}

.navbar .item-navbar a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 210px;
    height: 100%;
    margin: 0px;
    padding-left: 10px;
    color: #000;
}

.navbar .item-navbar a svg {
    margin-left: 0px;
    margin-right: 10px;
}

.navbar .item-navbar:hover {
    background-color: #0198fc;
}

/* .navbar .item-navbar.active {
    background-color: #0198fc;
} */

.item-navbar .sub-menu .sub-menu-item:hover > a.ative {
    background-color: #0198fc;
}

.navbar .item-navbar.active > a {
    color: #fff;
}

.navbar .item-navbar:hover > a {
    color: #fff;
}

.navbar .item-navbar:hover > .sub-menu {
    display: block;
    color: #333;
}
.item-navbar .sub-menu {
    display: none;
    max-width: 210px;
    width: 100%;
    position: absolute;
    left: 210px;
    /* border: 1px solid #333; */
}
.item-navbar .sub-menu .sub-menu-item {
    display: flex;
    align-items: center;
    height: 35px;
    /* padding-left: 10px; */
    border-top: 1px solid rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);
    border-right: 1px solid rgb(138, 138, 138);
    border-left: none;
    background-color: #fff;
}
.item-navbar .sub-menu .sub-menu-item a {
    width: 100%;
}
.item-navbar .sub-menu .sub-menu-item:hover {
    background-color: #0198fc;
}
.item-navbar .sub-menu .sub-menu-item:hover a {
    color: #fff;
}

.item-navbar .sub-menu .sub-menu-item:first-child {
    border-bottom: none;
}
