.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    flex-direction: column;
    width: 210px;
    height: 100%;
    background-color: #f3f2f3;
    border-right: 1px solid rgb(138, 138, 138);
}

.navbar .item-navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(138, 138, 138);
}

.navbar .item-navbar a,.navbar .item-navbar p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 210px;
    height: 100%;
    margin: 0px;
    padding-left: 10px;
    color: #000;
}

.navbar .item-navbar svg, a svg {
    margin-left: 0px;
    margin-right: 10px;
}

.navbar .item-navbar:hover {
    background-color: #0198fc;
}

.navbar .item-navbar .active {
    width: 100%;
    background-color: #0198fc;
    color: #fff;
     padding-left: 10px;
}

/* .navbar .item-navbar .active > .navbar .item-navbar {
    padding-left: 0px;
} */

.navbar .item-navbar:hover > p,.navbar .item-navbar:hover > a {
    color: #fff;
}

.navbar .item-navbar:hover > a {
    padding-left: 10px;
}