.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    flex-direction: column;
    width: 210px;
    height: auto;
    background-color: #f3f2f3;
    border-right: 1px solid rgb(138, 138, 138);
}

.navbar .navigation {
    width: 100%;
}

.navbar .navigation .navbar-content .item-narbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(138, 138, 138);
}

.navbar .navigation .navbar-content .item-narbar a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-left: 10px;
    color: #000;
}

.navbar .navigation .navbar-content .item-narbar a svg {
    margin-left: 0px;
    margin-right: 10px;
}

.navbar .navigation .navbar-content .item-narbar:hover {
    background-color: #0198fc;
    color: #fff !important;
}

.navbar .navigation .navbar-content .item-narbar:hover > a {
    color: #fff;
}

.navbar .navigation .navbar-content .item-narbar:hover > .sub-menu {
    display: block;
    color: #333;
}

.navbar-content .item-narbar .sub-menu {
    display: none;
    max-width: 210px;
    width: 100%;
    position: absolute;
    left: 210px;
    /* border: 1px solid #333; */
}

.navbar-content .item-narbar .sub-menu .sub-menu-item {
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 10px;
    border-top: 1px solid rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);
    border-right: 1px solid rgb(138, 138, 138);
    border-left: none;
    background-color: #fff;
}

.navbar-content .item-narbar .sub-menu .sub-menu-item a {
    width: 100%;
}

.navbar-content .item-narbar .sub-menu .sub-menu-item:hover {
    background-color: #0198fc;
}

.navbar-content .item-narbar .sub-menu .sub-menu-item:hover > a {
    color: #fff;
}

.navbar-content .item-narbar .sub-menu .sub-menu-item:first-child {
    border-bottom: none;
}
