.statistic {
    display: block;
    justify-items: center;
    width: 100%;
    /* margin: 20px; */
}

.statistic ul {
    display: flex;
    margin-top: 75px;
}

.statistic ul .statistic-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 150px;
    border: 1px solid #999;
    border-radius: 8px;
    background-color: rgb(26, 148, 255);
}

.statistic ul .statistic-item a {
    color: #fff;
}

.statistic-item p {
    text-align: center;
    font-size: 24px;
}

/*--------------------- StatisticMaterial ---------------------*/
@import url("./statisticmaterial.css");

/*--------------------- StatisticMaterial ---------------------*/
@import url("./statisticbill.css");

/*--------------------- StatisticProfitYear ---------------------*/
@import url("./statisticprofityear.css");

/*--------------------- StatisticProfitStage ---------------------*/
@import url("./statisticprofitstage.css");