.layout .layout-second .title-statistic-material {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 400;
}
.header-title .title-statistic-material {
    margin: 0px;
    width: 260px;
}

.header-title .title-statistic-material h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
  
    /* color: #fff; */
}

.statisticvt_header__list {
    display: flex;
    border: 1px solid #999;
    height: 50px;
    align-items: center;
    background-color: rgb(235, 232, 232);
}

.statisticvt_header__list p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #999;
    height: 100%;
    font-size: 18px;
}


.header-title .search-material-sttistic,
.filter-select {
    display: flex;
    margin: 0px;
    align-items: center;
}

.header-title .search-material-sttistic input,
.filter-select select {
    width: 200px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 8px;
    text-align: center;
}

input:focus,
.filter-select select:focus {
    outline: none;
}

.header-title .search-material-sttistic,
.filter-select select option {
    height: 40px;
}

.header-title .search-material-sttistic,
.filter-select .select-store {
    margin-right: 10px;
}

.filter-select .export-file-material{
     display: flex; 
     align-items: center; 
     font-size: 25px; 
     padding: 0px 10px 3px 10px; 
     color: #fff; 
     border: 1px solid #fff; 
     border-radius: 5px; 
     background-color: rgb(38 151 251);
     /* margin: 0px; */
     margin-left: 10px;
}
