/* .container {
    display: flex;
    width: 100vw;
} */

.employees {
    display: block;
    justify-items: center;
    width: 100%;
    margin: 20px;
}

/* .employees .search-employee {
    margin-bottom: 10px;
} */

.employees .search-employee input {
    width: 200px;
    height: 40px;
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid #999;
    border-radius: 8px;
}

.header_list {
    display: flex;
    border: 1px solid #999;
    height: 50px;
    align-items: center;
    background-color: rgb(235, 232, 232);
}

.header_list p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #999;
    height: 100%;
    font-size: 18px;
}

.modal_container__employee {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    overflow: scroll;
}

.modal_active {
    visibility: visible;
    opacity: 1;
}

.title_add__employee {
    color: rgb(26, 148, 255);
    font-size: 36px;
}

.modal__employee {
    background-color: #fff;
    max-width: 700px;
    width: 100%;
    height: 1000px;
    margin-top: 360px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
}

.modal__employee .row {
    display: flex;
    /* flex-direction: flex; */
    justify-content: flex-start;
    margin: 5px 0px;
    width: 100%;
}

.modal__employee .row .select-daily-nhanvien {
    height: 40px;
    width: 200px;
    padding-left: 20px;
    border-radius: 8px;
}

.modal__employee .row .select-daily-nhanvien:focus {
    outline: none;
}

.modal__employee .row label {
    display: flex;
    text-align: center;
    align-items: center;
    width: 170px;
}

.modal__employee .row label,
input {
    margin: 0px;
}

.modal__employee input {
    max-width: 450px;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0px 10px;
}

/* Input upload materials */
.upload-img-employee {
    display: flex;
    justify-content: flex-start;
    position: relative;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.upload-img-employee h1 {
    display: flex;
    align-items: center;
    margin: 0px;
    width: 100px;
    font-size: 20px;
    font-weight: 300;
}

#file_up {
    position: relative;
    max-width: 250px;
    width: 100%;
    height: 200px;
    outline: none;
    cursor: pointer;
    left: 12%;
}

#file_up::before {
    content: "+";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -102px;
    left: 0;
    background: white;
    color: rgb(250, 200, 107);
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

#file_img {
    max-width: 249px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 172px !important;
    background: white;
}

#file_img img {
    max-width: 250px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

#file_img span {
    position: absolute;
    top: -10px;
    right: -17px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.modal__employee .option-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
}

.modal__employee .option-button button {
    max-width: 140px;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 8px;
    background-color: rgb(26, 148, 255);
    color: #fff;
    margin: 0px;
    position: relative;
    bottom: -60px;
}

/*--------------------- Employee Item ---------------------*/
@import url("./EmployeeItem.css");

/*--------------------- Employee Detail ---------------------*/
@import url("./DetailEmployee.css");
